<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<title>Update Department</title>
</head>
<body layout:fragment="body">
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update Bill</h6>
		</div>
		<hr />
		<div class="row">

			<form th:action="@{/bill/update}" method="post">
				<label>ID:</label> <br> <input type="number" name="id"
					th:value="${bill.id}"> <br> <label>Buy Date:</label> <br>
				<input type="text" name="Name" th:value="${bill.buyDate}">

				<br>
				<button class="btn btn-primary" type="submit">Save</button>
		</div>
		</form>
	</div>
	</div>
</body>
</html>