<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<!--  -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body layout:fragment="body">

	<form th:action="@{/product/search}" method="get">

		<input name="name" th:value="${name}" placeholder="tim kiem ten..." />
		 <input name="page" th:value="${page}" placeholder="Trang" />
		<button type="submit">Search</button>
		<p>
			Tong so trang: <span th:text="${totalPage}"></span>
		</p>
		<select name="size">
			<option th:each="i:${#numbers.sequence( 5, 15, 5)}" th:text="${i}"
				th:value="${i}" th:selected="${size == i}"></option>
		</select>
	</form>
	<br>
	<a th:href="@{/product/create}" class="btn btn-primary"><span
		class="glyphicon glyphicon-plus"></span>Create</a>
	<div class="container mt-3">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Image</th>
					<th>Category</th>
					<th>Other</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productlist}">

					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.description}"></td>
					<td><img th:src="${product.image}" width="200"></td>
					<td th:text="${product.category.name}"></td>


					<td>
						<div style="word-wrap: break-word;">
							<a class="btn btn-primary"
								th:href="@{'/product/update?id=' + ${product.id}}"> <span
								class="glyphicon glyphicon-pencil"></span> Update
							</a> <a class="btn btn-primary"
								th:href="@{'/product/delete?id=' + ${product.id}}"> <span
								class="glyphicon glyphicon-remove"></span> Delete
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination">
			<li class="page-item"><a class="page-link"
				th:href="@{'/product/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)}  }">Previous</a></li>

			<li th:if="${totalPage > 0}"
				th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
				class="page-item"><a class="page-link"
				th:href="@{'/product/search?page='+ ${i} }" th:text="${i}"></a></li>

			<li class="page-item"><a class="page-link"
				th:href="@{'/product/search?page='+ ${page + 1 >= totalPage ? (totalPage) : (page) } }">Next</a></li>

		</ul>
	</div>
</body>
</html>