<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body layout:fragment="body">

	<form th:object="${user}" action="/user/update" method="post">
		
			<div class="mb-3 mt-3">
				<label for="id"> ID:</label><br>
				<input class="form-control" readonly="readonly" th:field="*{id}" name="id">
			</div>
			
			<div class="mb-3 mt-3">
				<label for="name"> Name:</label><br>
				<input class="form-control" th:value="${user.name}" name="name">
				<p th:errors="*{name}" />
			</div>
			<button type="submit" th:text="#{button.save}"></button>
	</form>

</body>
</html>